<div>

  <div class="submit-form">
    <div *ngIf="!submitted">
      <h4> Add Screen</h4>
      <div class="form-group">
        <label for="title">Screen ID</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="user.username"
          name="title"
        />
      </div>
<!-- 
      <div class="form-group">
        <label for="description">Email</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="user.email"
          name="description"
        />
      </div> -->

      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          id="password"
          required
          [(ngModel)]="user.password"
          name="password"
        />
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" (change) ="setAdmin()"  id="role">
        <label class="form-check-label" for="role">isAdmin</label>
      </div>



      <button (click)="saveuser()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>user was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newuser()">ok</button>
    </div>
  </div>
</div>
