<div class="alert alert-light">
    <div class="row">
      <div class="col">
        <img src="https://cdn-icons-png.flaticon.com/512/565/565514.png" height="50" width="60" alt="" />
      </div>
      <div class="col">
        <h1><b>{{type}} </b></h1>
       
      </div>
      <div class="col">
       
        <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-icons="Climacons Animated" data-mode="Current" >NEW YORK WEATHER</a>
      </div>
      
      
     
        <div class="row">
          <div class="col col-example"><h5>Local time {{time}} </h5> 
            <div class="col col-example"><img height="100px" width="200px" src="http://localhost:8080/{{ad}}" > </div>
          </div>
         
        </div>
     
    
    </div>
    
    <div *ngIf="socketdata!==''"> 
      <marquee style="color:red">  {{socketdata}}</marquee>
      </div>
      
  </div>
  
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Airline</th>
        <th scope="col">Terminal</th>
        <th scope="col">Flight</th>
        <th scope="col">Destination</th>
        <th scope="col">Time</th>
        <th scope="col">Gate</th>
        <th scope="col">Remark</th>
      
      </tr>
    </thead>
    <tbody >
        <tr
        class=""
        *ngFor="let flight of data; let i = index"
        
      >
      <td class="table-light">         <img src="https://content.airhex.com/content/logos/airlines_{{flight.iata}}_100_80_r.png?background=fff" style="width: 64px; height: 44px"/> </td>
        
        <td class="table-light">{{ flight.terminal }}</td> 
        <td class="table-light">{{ flight.flight }}</td> 
        <td class="table-light">{{ flight.destination }}</td> 
        <td class="table-light">{{ flight.time }}</td> 
        <td class="table-light">{{ flight.gate }}</td> 
        <td class="table-light"   [ngStyle]="{'color': (flight.remarks === 'CHECKIN') ? '#39FF14' : (flight.remarks === 'DELAYED') ? 'red' : (flight.remarks === 'DEPARTED') ? 'yellow' : ''}"
            > <p class="blink_me" >{{ flight.remarks }} </p></td> 


    </tr>
    </tbody>
  </table>
