<div *ngIf="!kiosk||isAdmin" > 
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      
    </a>
    <a href="#" class="navbar-brand">{{ isAdmin ?"XXXX  Management Admin Panel":"XXXX User Panel"}}</a>
    <div   class="navbar-nav mr-auto">
      <ul class="nav justify-content-center">

    
      <div  *ngIf="!loggedin" > <li class="nav-item">


         <a  routerLink="login" class="nav-link">Login</a>
      </li> </div>

      

      

      <div  *ngIf="isAdmin" class="container" >
        <div class="row">
          <div class="col-sm">
        <a routerLink="users" class="nav-link">Screens</a>
        </div>
        <div class="col-sm">
          <a routerLink="broadcast" class="nav-link">Broadcast</a>
          </div>

        </div>
     
    
      </div>
     
     </ul>
   
    </div>
    <div  align="right" *ngIf="loggedin" > <li class="nav-item">


      <a href class="nav-link" (click)="logout()">Logout</a>

   </li> </div>
  
    
  </nav>

    <div  *ngIf="loggedin" class="alert alert-secondary" role="alert">
    
      Welcome {{currentuser}}
      
    </div>
 
</div>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>