<div>

    <div class="submit-form">
      <div >
        <h4> Broadcast</h4>
        <div class="form-group">
          <label for="title">Message</label>
          <input
          #msg
            type="text"
            class="form-control"
            id="msg"
          
            name="msg"
          />
        </div>
  
      
       
  
  
        <button (click)="broadcast(msg.value)" class="btn btn-success">Send</button>
    
       
      </div>
     
      
    </div>
 
  </div>
  
  <div  *ngIf="submitted" class="alert alert-light" role="alert">
    <p>{{status}}</p>
  </div>
  